services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports: 
      - 5173:5173
    networks:
      - app-network
    volumes:
      - ./frontend/src:/app/src
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - app-network
    ports:
      - 8080:8080
networks:
  app-network:
    driver: bridge