services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports: 
      - 5173:5173
    networks:
      - app-network
    volumes:
      - ./frontend/src:/app/src
networks:
  app-network:
    driver: bridge